body {
  background-color: #eee;
  text-align: center;
  color: #666;
  font-family: Helvetica, Arial, san-serif;
}

.btn {
  border: 0;
  font-size: 12px;
  font-weight: bold;
  margin: 10px auto;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #09f;
  transition: all 0.3s;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
}

.btn:hover {
  background-color: #08d;
}

.btn:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px #fff, 0px 0px 0px 6px #08d;
}
.droparea,
#result {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.droparea {
  border: 1px dotted #999;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
  text-decoration: underline;
  color: #08d;
}
.droparea:hover {
  border-style: solid;
  border-color: #bbb;
  background-color: #eee;
}

.hidden,
input[type=file],
.open #fileInput,
.empty #result,
.empty #downloadButton,
.empty #clearButton {
  display: none;
}

canvas {
  display: block;
  margin: 0 auto;
}